*{
    padding: 0;
    margin: 0;
  }
  .nav-bar{
    margin-top: 10px;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
  
  }
  .navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-one{
    font-family:  'Times New Roman';
    text-decoration: underline;
  }
  
  li{
    list-style: none;
    display: inline-block;
  }
  li span{
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
  }
  .SHOP{
    color: red;
  }
  .icons{
    justify-content: space-between;
    word-spacing: 20px;
  }
  .fa-solid {
    color: rgb(0, 0, 0);
  }
  .ACCOUNT{
    word-spacing: 0;
    color: black;
  }
  .icons a{
    text-decoration: none;
  }
  .living-room img{
    height: auto;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  .living-room{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
  }
  .button-group{
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 10px;
  }
  button{
    background-color: gray; 
    margin-top: 10px;
    background-blend-mode: multiply;
    color: white ;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    gap: 20px;
    align-items: end;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .Home-sofa{
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
  }
  .img-sofa{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .paolo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-shop img{
    height: 1%;
    width: 100%;
  }